.navbar {
    padding: 20px 30px;
  }
  .navbar ul {
    display: flex;
    justify-content: space-evenly;
  }
  .navbar ul li {
    list-style: none;
    cursor: pointer;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #3d7dff;
  }
  .navbar ul li a:hover {
    text-decoration: none;
    color: #747f95;
  }
  @media (max-width: 480px) {
    .navbar ul li a {
      font-size: 0.7rem;
    }
  }
  